body {
    background-color: #CDE0E2;
}

#main-container {
    width: 80vw;
}

#section-container {
    text-align: center;
    padding-left: 15%;
}

#main-container section {
    display: inline-block;
    background-color: #F5D096;
    border: solid;
    border-color: #13D7ED;
    border-width: 15px;
    border-radius: 25px;
    margin: 100px;
}

#side-bar {
    float: left;
    width: 200px;
    height: 600px;
}

#side-bar ul {
    padding: 10%;
    list-style: none;
    text-align: center;
}

#side-bar li {
    background-color: #F09B5A;
    margin-top: 30px;
    border: solid;
    color: #F5F0Df;
    border-width: 7px;
    border-radius: 10px;
}

.nav-link a {
    color: #F5F0Df;
    text-decoration: none;
    font-size: 24pt;
}

#center-dashboard {
    width: 800px;
    height: 800px;
}

#searchInput {
    background-color: #F09B5A;
    width: 40%;
    margin: 15px auto;
    padding: 2%;
    border: solid;
    border-width: 15px;
    border-radius: 10px;
}

#searchInput input {
    margin-left: 15px;
}

#searchInput label {
    font-size: 24pt;
    font-weight: bold;
}

#card-container {
    padding: 20px;
}

#card-container div {
    display: inline-block;
    border: solid;
    width: 300px;
    height: 220px;
    margin: 20px;
    border-color: #13D7ED;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 7.5px;
    border-right-width: 7.5px;
    border-radius: 50%;
    margin: 100px;
    background-color: lightgrey;
    text-align: center;
}

#card-container ul {
    list-style: none;
}

#card-container h1 {
    width: 50%;
}

#card-container li {
    width: 70%;
    text-align: left;
    padding: 3px;
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
    color: #F09B5A;
}